body{
  margin: 0;
  font-family: arial;
}

.grey{
  background-color: #636363;
  color: #ffff;
  font-size: 1.7em;
  border: none;
  height: 8.5vh;
  border-radius: 5px;
  width: 25vw;
}

.signUpBody{
  overflow: hidden;
}

#websiteContainer, #informasjonsContainer form, #informasjonsContainer{
  display: flex;
}

#signUpContainer{
  flex: 1;
  justify-content: center;
  background-color: #7743DB;
}

#createAccountTitle{
  color: #ffe9b1;
  font-size: 3em;
}

#createAccountTitle, .memberATag, .errorPTag{
  align-self: center;
}

#informasjonsContainer{
  flex-direction: column;
}

#informasjonsContainer form{
  margin: 0 5vw 0 5vw;
  flex-flow: column;
}

#imageContainer img{
  width: 60vw;
}

.informasjonInput {
  margin: 2vh;
  height: 5vh;
  border: none;
  border-radius: 3px;
}

.informasjonInput:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.submitButton {
  margin-top: 4vh;
  background-color: #3b3486;
  color: #ffe9b1;
  font-size: 1.7em;
  border: none;
  height: 10vh;
  border-radius: 3px;
}

.submitButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.memberATag {
  text-decoration: none;
  color: #3DC6E9;
}

/*Log in side*/

#logInBody{
  background-image: url(bilder/quizLogIn.jpg);
  background-size: 125vh;
  overflow: hidden;
}

#logInWebsiteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 60vh;
  flex-flow: column;
  background-color: #7743DB;
  border-radius: 6px;
}

#loginContainer form {
  display: flex; 
  flex-flow: column;
  margin: 50px 0 10px 0;
}

.loginInput{
  margin: 1vh;
  height: 5vh;
  border: none;
  border-radius: 3px;
}

.submitButtonLogIn {
  margin-top: 5vh;
  color: #ffe9b1;
  font-size: 1.7em;
  border: none;
  height: 8.5vh;
  border-radius: 3px;
  background-color: #3b3486;
}

.submitButtonLogIn:hover, .loginInput:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#logInTitle{
  color: #ffe9b1;
  font-size: 3.5em;
  margin: 0;
}

/*homepage side*/

.headerContainer {
  background-color: #3b3486;
  border-bottom: 1.3px solid #ffe9b1;
  display: flex;
  justify-content: space-between;
}

.logoContainer, .headerContainer {
  display: flex; 
  align-items: center;
}

.logoContainer img {
  height: 5vh;
  padding: 1.4vh;
}

.logoContainer p {
  color: #ffe9b1;
  font-weight: bold;
}

.headerSection2 {
  display: flex;
}

.headerSection2 p, .headerSection2 a{
  margin-right: 1.4vw;
}

.headerSection2 a{
  display: flex;
  align-items: center;
}

.headerSection2, .adminPageATag{
  color:#ffe9b1
}

.logoutATag{
  color: #3DC6E9;
}

.headerInformationContainer {
  display: flex;
  flex-flow: column;
  height: 50vh;
  background-image: url(bilder/headerHomepage.jpg);
  background-size: 100vw;
}

.headerInformationContainer h2, .headerInformationContainer p, .headerInformationContainer h1 {
  align-self: center;
  color: #ffe9b1;
}

.headerInformationContainer h1{
  background: -webkit-linear-gradient(#FC575E, #F7B42C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

.headerInformationContainer h2{
  font-size: 3.4em;
  margin-top: 10vh;
}

.headerInformationContainer p {
  font-size: 2em;
}

.homepageButtonContainer {
  display: flex;
  justify-content: center;
}

.homepageOptionButton {
  color: #ffe9b1;
  font-size: 1.7em;
  border: none;
  height: 8.5vh;
  border-radius: 3px;
  background-color: #3b3486;
  width: 10vw;
  margin: 3vw;
}

.homepageOptionButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.quizContainer{
  margin: 12vh 0 12vh 0;
}

.quizContainer, .quiz{
  display: flex;
  justify-content: space-evenly;
}

.quiz{
  flex-flow: column;
}

.quiz img{
  height: 25vh;
  margin-bottom: 3vh;
  border-radius: 10px;
}

.quizButton {
  color: #ffe9b1;
  font-size: 1.7em;
  border: none;
  height: 8.5vh;
  border-radius: 5px;
  background-color: #3b3486;
  width: 25vw;
}

.quizButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*quiz one side*/

#quizBody {
  background-color: #7743DB;
  background-image: linear-gradient(315deg, #b8c6db 0%, #7743DB 100%);
  overflow: hidden;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 92vh;
  width: 100vw;
  border-radius: 20px;
}

.centerDiv{
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  background-color: #3b3486;
  font-size: 2em;
  border-radius: 10px 10px 0 0;
}

.quiz-header{
  font: 4rem;
  width: 100%;
}

#question{
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  color: #fff;
  margin-left: 2vw;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 5vw;
}

ul li{
  font-size: 1.2rem;
  margin: 1 rem 0;
  color: #fff;
}

ul li label {
  cursor: pointer;
}

.continueCompleteDiv{
  display: flex;
}

#submit{
  background-color: #7743DB;
  border: none;
  width: 50vw;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 0 0 10px 10px;
  color: #ffe9b1;
}

.resultButtons{
  background: linear-gradient(90deg, rgba(59,52,134,1) 35%, rgba(119,67,219,1) 100%);  
  border: 1px solid transparent;
  border-radius: .25rem;
  height: 10vh;
  width: 20vw;
  color: #fff;
}

.resultButtons:hover {
  transform: translateY(-1px);
}

/*ban page*/
.banBody{
  overflow: hidden;
  background-color: #7743DB
}


.banContainer{
  margin: 10vh 0 0 10vw;
  background-color: #3b3486;
  height: 70vh;
  width: 80vw;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.banInformation{
  padding: 100px 0 100px 20px;
}

.banTitle{
  color: #ffe9b1;
  font-size: 4.5em;
}

.banText{
  color: #fff;
  font-size: 1.5em;
}

.banImage{
  display: flex;
  align-items: center;
}

.banImage img{
  height: 50vh;
}

/*admin page*/
.adminBody{
  background-color: #7743DB;
  overflow: hidden;
}
.webcontainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tableDiv{
  width: 70vw;
  overflow: auto;
  height: 70vh;
  border: 1px solid 	#36454F;
  border-radius: 10px 0 0 10px;
}

.adminTable{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: #3b3486;
  border-radius: 10px 0 0 10px;
}

.adminTable td{
  text-align: center;
  color: #fff;
  height: 3vh;
}

.adminTable tr:nth-child(even){
  background-color: #7743DB;
}

.adminTable tr{
  color: #ffe9b1;
  text-align: center;
  height: 6vh;
}

.deleteButton{
  color: #F7B42C
}

.searchBarDiv{
  display: flex;
  justify-content: center;
}

.searchBar, .searchButton{
  border: 0;
  margin-top: 30px;
}

.searchBar{
  width: 60vw;
  height: 6vh;
  border-radius: 5px 0 0 5px;
  margin: 0;
}

.searchButton{
  width: 10vw;
  height: 6vh;
  border-radius: 0 5px 5px 0;
}


